site_name: Eindhoven - Wet en Regels
copyright: Deze website is mede mogelijk gemaakt door Raytrix
# Repository
repo_url: 'https://github.com/nickvmeurs/Eindhoven-APV'
repo_name: 'Eindhoven-APV'
extra:
  social:
    - icon: fontawesome/brands/discord 
      link: https://discord.gg/ehrp
theme:
  language: nl
  name: material
  logo: assets/eindhoven.png
  favicon: assets/eindhoven.png
  features:
    - header.autohide
  palette: 

    # Palette toggle for light mode
    - scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
        
    
